.education-form{
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
}
.education-submit{
  display: grid;
  grid-template-columns: 0 20vw 1fr 1fr 20vw;
  border-bottom: 1px solid;
}
.education-submit > h1 {
  font-size: 18px;
  font-weight: 500;
}
.education>h1{
  font-size: 30px;
}